<div class="page">
    <div class="background back-color-6">
        <div class="border">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
        </div>
        <div class="textbox"></div>
    </div>
    <div class="content">
        <ul class="list" ng-class="{'fadeIn': shouldAppear, 'fadeOut': shouldFade}">
            <h3>Contact</h3>
            <li>
                <a href="github.com/BenWhite89" target="_blank"><h4>github.com/BenWhite89</h4></a>
                <br>
                <a href="linkedin.com/in/benjaminwhite89" target="_blank"><h4>linkedin.com/in/benjaminwhite89</h4></a>
                <br>
                <h4>benwhite89@icloud.com</h4>
                <br>
                <h4>(502) 794-2449</h4>
                <br>
                <a href="../../BenWhiteResume.pdf" target="_blank"></a><h4></h4>
            </li>
        </ul>
    </div>
</div>