<div class="page">
    <div class="background back-color-5">
        <div class="border">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
        </div>
        <div class="textbox"></div>
    </div>
    <div class="content">
        <br>
        <br>
        <div class="list" ng-class="{'fadeIn': shouldAppear, 'fadeOut': shouldFade}">
            In my free time I enjoy both creating and consuming film, comedy, & music 
            as well as expanding my understanding of computer science and design.
            I am currently enrolled in Harvard's CS50 online course and Microsoft's React
            online certification program. I am highly driven to master anything I do while
            still injecting my sense of humor and style into everything I create.
        </div>
    </div>
</div>

